<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <div class="work">
      <h1>The brief career</h1>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Laika_experimental_space_dog_space_suit.jpg/1024px-Laika_experimental_space_dog_space_suit.jpg?1636536976889"
        alt=""
      />
      <p>
        After the success of Sputnik 1 in October 1957, Nikita Khrushchev, the
        Soviet leader, wanted a spacecraft launched on 7 November 1957, the 40th
        anniversary of the October Revolution. Construction had already started
        on a more sophisticated satellite, but it would not be ready until
        December; this satellite would later become Sputnik 3.[2] Meeting the
        November deadline meant building a new craft. Khrushchev specifically
        wanted his engineers to deliver a "space spectacular", a mission that
        would repeat the triumph of Sputnik 1, stunning the world with Soviet
        prowess. Planners settled on an orbital flight with a dog. Soviet rocket
        engineers had long intended a canine orbit before attempting human
        spaceflight; since 1951, they had lofted twelve dogs into sub-orbital
        space on ballistic flights, working gradually toward an orbital mission
        set for some time in 1958. To satisfy Khrushchev's demands, they
        expedited the orbital canine flight for the November launch.[3]
        According to Russian sources, the official decision to launch Sputnik 2
        was made on 10 or 12 October, leaving less than four weeks to design and
        build the spacecraft.[4] Sputnik 2, therefore, was something of a rush
        job, with most elements of the spacecraft being constructed from rough
        sketches. Aside from the primary mission of sending a living passenger
        into space, Sputnik 2 also contained instrumentation for measuring solar
        irradiance and cosmic rays.[2] The craft was equipped with a
        life-support system consisting of an oxygen generator and devices to
        avoid oxygen poisoning and to absorb carbon dioxide. A fan, designed to
        activate whenever the cabin temperature exceeded 15 °C (59 °F), was
        added to keep the dog cool. Enough food (in a gelatinous form) was
        provided for a seven-day flight, and the dog was fitted with a bag to
        collect waste. A harness was designed to be fitted to the dog, and there
        were chains to restrict her movements to standing, sitting, or lying
        down; there was no room to turn around in the cabin. An
        electrocardiogram monitored heart rate and further instrumentation
        tracked respiration rate, maximum arterial pressure, and the dog's
        movements.[5][6]
      </p>
    </div>
  </body>
</html>
